---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import "../../styles/pages/blurbs.css";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section class="section wrapper stack" data-width="narrow">
        {
          posts.map((post) => (
            <div class="stack">
              <a href={`/blurbs/${post.id}/`}>
                <h3 class="blurb__title">{post.data.title}</h3>
                <p class="blurb__date">
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </a>
              <p class="blurb__preview">{post.data.preview}</p>
            </div>
          ))
        }
      </section>
    </main>
    <!-- <Footer /> -->
  </body>
</html>
